<p>Startup web application with simple setup to test different kinds of authentication strategy.</p>
<p><b>Context:</b> Backbone/Marionette application using a RoR Rest API</p>
<p><b>Requirements:</b></p>
<ul>
  <li>login action returns a token</li>
  <li>token must be sent in each API request</li>
</ul>
<p><b>Use cases:</b></p>
<ul>
  <li>Public page is the application default page</li>
  <li>Public page must be always available</li>
  <li>Private page is only available to authenticated user</li>
</ul>
<p>For now the login form raise a user:signin event wich is handled, for now, in the login_app.js.</p>
<p>For the moment the form content is only loged in the console, and the authentication and authorization must be implemented</p>