<div class="col-sm-4 col-sm-offset-4">
  <form role="form">
    <div class="panel radius">
      <div class="form-group">
        <div>
          <input type="text" id="username" name="username" class="form-control text-input" placeholder="Username" />
        </div>
      </div>
      <div class="form-group">
        <div>
          <input type="password" id="password" name="password"  class="form-control text-input" placeholder="Password" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4"><button type="button" id="signin" class="btn btn-primary">Sign in</button></div>
      </div>
    </div>
  </form>
</div>